@charset "utf-8";
/* CSS Document */
@import url("reset.css");
body {
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    background: #fff;
    background-size: 100%;
    text-align: center;
}
@media screen and (min-width:769px){  body{ width: 40%; margin:0 30%;} } 
img { width: 100%; display: block;}
.fl { float: left;} .fr{ float: right;} .cB{clear:both;} .dn {display: none;}

@font-face {font-family: "iconfont";
    src: url('../iconfont/iconfont.eot?t=1461220400');
    src: url('../iconfont/iconfont.eot?t=1461220400#iefix') format('embedded-opentype'),
    url('../iconfont/iconfont.ttf?t=1461220400') format('truetype'),
    url('../iconfont/iconfont.svg?t=1461220400#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.order {background: #f4f4f4; padding-bottom: 48px;}

/*网易严选*/
.banner{position: relative;}
.banner i{position: absolute;right: 0;top: 10%;display: inline-block;width: 26%;}
.banner q{position: absolute;right: 0;top: 53%;display: inline-block;width: 100%;color: #FFEB3B;font-size: 3.6vw;font-weight: 300;}

.iconList{position: sticky;top: 0;left: 0;width: 100%;background: #262729;z-index: 99;}
.iconList ul{display: flex;flex-wrap: nowrap;overflow: auto;}
.iconList ul li{font-size: 0;font-weight: 300;color: #555;flex: 1;box-sizing: border-box;margin: 3.5vw 0;min-width: 25%;}
.iconList ul li:last-child{border: 0;}
.iconList ul li.active{position: relative;}
.iconList ul li.active i img{-webkit-filter: grayscale(100%);filter: grayscale(100%);filter: none;}
.iconList ul li.active::after{content: "";position: absolute;bottom: -3vw;left: 0;width: 100%;height: .8vw;background: #d7b375;}
.iconList ul li.active span{color: #d7b375;}
.iconList ul li a{display: block;color: #555;}
.iconList ul li i{display: inline-block;width: 5vw;height: 5vw;vertical-align: middle;margin-right: 1vw;}
.iconList ul li i img{width: 100%;height: 100%;-webkit-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.iconList ul li span{display: inline-block;vertical-align: middle;font-size: 3.8vw;color: #fbf4e1;} 

.spList{background: #262729;}
.spListBox:last-child{min-height: 70vh;}
.spListBox ul {display: flex;flex-wrap: wrap;padding: 1vw;font-size: 0;}
.spListBox ul a{flex: 0 0 31%;box-sizing: border-box;margin: 1%;color: #555;font-size: 0;background: #fff;overflow: hidden;border-radius: 1.5vw;}
.spListBox ul li{background: #fff;position: relative;} 
.spListBox ul li i{width: 100%;height: 31vw;display: inline-block;background: #f4f4f4;position: relative;} 
.spListBox ul li i q{position: absolute;top: 3%;left: 0;z-index: 9;width: 12vw;display: inline-block;border-top-right-radius: 2vw;border-bottom-right-radius: 2vw;overflow: hidden;} 
.spListBox ul li i img{height: 100%;border: 0;} 
.spListBox ul li i q img{ } 
.spListBox ul li p{padding: 2vw;text-align: left;font-weight: 300;} 
.spListBox ul li p span{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-size: 3.8vw;line-height: 5vw;height: 5vw;margin-bottom: 1vw;color: #000;} 
.spListBox ul li p s{font-size: 3vw;color: #ccc;display: block;} 
.spListBox ul li p em {color: #8f6c2f;font-weight: 300;font-size: 3vw;white-space: nowrap;margin-top: 1vw;display: block;} 
.spListBox ul li p em b{font-size: 4vw;display: inline-block;margin-right: .2vw;}  
.spListBox ul li p em q{background: #b09150;color: #fff;padding: .5vw 1vw;border-radius: 1.5vw;font-size: 3vw;}

.spListBox:first-child h3{ display: none; }

.spListBox ul a:first-child {flex: 0 0 98%;text-align: left;} 
.spListBox ul a:first-child li{ }
.spListBox ul a:first-child li i{width: 40vw;height: 40vw;vertical-align: middle;}
.spListBox ul a:first-child li i q{}
.spListBox ul a:first-child li i q img{}
.spListBox ul a:first-child li p{display: inline-block;width: 50vw;margin-left: 2vw;vertical-align: middle;}
.spListBox ul a:first-child li p span{min-height: 5vw;max-height: 10vw;height: auto;}
.spListBox ul a:first-child li p em q{vertical-align: inherit;padding: 0;color: #b09150;background: #fff;font-size: 3.6vw;}
.spListBox ul a:first-child li p em {margin-top: 1.5vw;display: block;}
.spListBox ul a:first-child li p em b{font-size: 5vw;font-weight: 300;display: inline-block;margin-bottom: 3%;margin-right: .2vw;vertical-align: middle;}
.spListBox ul li .tips{background: #b09150;font-size: 3vw;font-weight: 300;padding: 1vw 1vw 2.5vw 1vw;color: #fff;border-bottom-left-radius: 6vw;border-bottom-right-radius: 6vw;position: absolute;top: 0;right: 1%;z-index: 9;}
.spListBox ul a:first-child .tips{background: #b09150;font-size: 3.4vw;font-weight: 300;padding: 1.5vw 1.5vw 3.5vw 1.5vw;color: #fff;border-bottom-left-radius: 6vw;border-bottom-right-radius: 6vw;position: absolute;top: 0;right: 1%;z-index: 9;}

.sucList{background: #eaeaea;}  
.sucList ul {display: flex;flex-wrap: wrap;padding: 1vw;font-size: 0;}
.sucList ul a{flex: 0 0 48%;box-sizing: border-box;margin: 1%;color: #555;font-size: 0;background: #fff;overflow: hidden;border-radius: 1.5vw;}
.sucList ul li{background: #fff;position: relative;} 
.sucList ul li i{width: 100%;height: 44vw;display: inline-block;background: #f4f4f4;position: relative;} 
.sucList ul li i q{position: absolute;top: 3%;left: 0;z-index: 9;width: 12vw;display: inline-block;border-top-right-radius: 2vw;border-bottom-right-radius: 2vw;overflow: hidden;} 
.sucList ul li i img{height: 100%;border: 0;} 
.sucList ul li i q img{ } 
.sucList ul li p{padding: 2vw;text-align: left;font-weight: 300;} 
.sucList ul li p span{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-size: 3.8vw;line-height: 5vw;height: 5vw;margin-bottom: 1vw;color: #000;} 
.sucList ul li p s{font-size: 3vw;color: #ccc;display: block;} 
.sucList ul li p em {color: #8f6c2f;font-weight: 300;font-size: 3vw;white-space: nowrap;margin-top: 1vw;display: block;} 
.sucList ul li p em b{font-size: 4vw;display: inline-block;margin-right: .2vw;}  
.sucList ul li p em q{background: #b09150;color: #fff;padding: .5vw 1vw;border-radius: 1.5vw;font-size: 3vw;}

.sucList.spListBox ul a,.sucList ul a{ display: none;} 
.sucList.spListBox ul a:first-child,.sucList ul a:nth-child(1),.sucList ul a:nth-child(2){ display: block;} 

.prodDetails {text-align: left;font-weight: 300;position: absolute;padding-bottom: 40px;bottom: 40px;background: #f4f4f4;left: 0;-webkit-overflow-scrolling: touch;overflow-scrolling: touch;-o-overflow-scrolling: touch;-moz-overflow-scrolling: touch;-ms-overflow-scrolling: touch;width: 100%;top: 0;overflow: auto;}
.prodDImg {position: relative;width: 100vw;height: 100vw;}
.prodDImg i {display: block;width: 100vw;height: 100vw;overflow: hidden;background: #f4f4f4;}
.prodDImg i img {width: 100%;height: 100%;}
.prodDImg em {display: inline-block;width: 10vw;height: 10vw;position: absolute;right: 3vw;bottom: 5vw;z-index: 9;}

.prodDTlt {padding: 2%;background: #fff;margin-bottom: 2%;}
.prodDTlt h3 {font-size: 15px;padding: 5px 0;font-weight: 300;line-height: 24px;color: #333;}
.prodDTlt p {color: #999;font-size: 13px;margin: 2% 0;width: 100%;display: inline-block;position: relative;}
.prodDTlt q {background: #c40311;line-height: 20px;display: inline-block;color: #fff;padding: 0 4px;border-radius: 5px;font-size: 12px;font-weight: 300;margin-right: 2%;}
.prodDTlt p em {display: flex;text-align: left;justify-content: flex-start;}
.prodDTlt p i {display: inline-block;margin-right: 6px;font-size: 13px;font-weight: 300;}
.prodDTlt dl {color: #999;line-height: 30px;font-size: 3.5vw;display: flex;}
.prodDTlt dl dt {float: left;}
.prodDTlt dl dd {margin-right: 2vw;}
.prodDTlt dl dd i {width: 3.5vw;height: 3.5vw;margin-right: .6vw;display: inline-block;vertical-align: text-top;color: #8BC34A;}

.CusSer{margin: 1% 0 2% 0;text-align: center;}
.CusSer ul {}
.CusSer li{width: 47%;margin: 0 2%;display: inline-block;text-align: center;margin-left: -1px;background: #f4f4f4;border: 1px solid #eaeaea;border-radius: 5px;}
.CusSer li i{width: 30px;height: 30px;display: inline-block;vertical-align: middle;}
.CusSer li i img{ }
.CusSer li span{vertical-align: middle;line-height: 30px;display: inline-block;font-size: 13px;}

.prodDFavor {padding: 3% 2%;background: #fff;}
.prodDFavor ul {position: relative;max-height: 48px;}
.prodDFavor ul li {width: 85vw;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 24px;font-size: 13px;}
.prodDFavor ul li q, .prodDFavorTip ul li q {padding: 0 2px;line-height: 24px;border: 1px solid #F44336;color: #F44336;border-radius: 3px;margin-right: 2%;font-size: 12px;font-weight: 300;}
.prodDFavor ul i {position: absolute;right: 0;bottom: 0;line-height: 24px;font-size: 14px;}
.prodDFavorTip {}
.prodDFavorTip::before {content: "";position: fixed;width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.3);top: 0;left: 0;z-index: 9;}
.prodDFavorTip h3 {text-align: center;font-size: 18px;font-weight: 300;line-height: 50px;position: relative;}
.prodDFavorTip h3 i {position: absolute;right: 4%;top: 0;font-size: 14px;}
.prodDFavorTip ul {padding: 0 2% 4% 2%;}
.prodDFavorTip ul li {position: relative;padding: 4% 10% 4% 0;border-top: 1px solid #f4f4f4;}
.prodDFavorTip ul li q, .prodDFavorTip ul li span {}
.prodDFavorTip ul li i {position: absolute;right: 0;top: 0;line-height: 24px;font-size: 16px;font-weight: 300;margin-top: 4%;}

.prodDbodyBtn{padding: 3%;background: #fff;font-weight: 300;display: flex;justify-content: space-between;}
.prodDbodyBtn span{font-size: 16px;color: #555;}
.prodDbodyBtn i{font-size: 20px;font-weight: 300;color: #999;}
.prodDBtnOn i {transform: rotate(90deg);  -webkit-transform: rotate(90deg);}
.prodDbody {padding: 2%;padding-bottom: 50px;background: #fff;}
.prodDbody dl {color: #f39700;line-height: 24px;}
.prodDbody dl dt {float: left;}
.prodDbody dl dd {float: left;padding: 0 2px;}
.prodDbody dl dd i {font-size: 12px;padding: 0 2px;}
.prodDbody p {font-size: 3.6vw;word-break: break-all;}
.prodDbody img {}
.prodDBtn {position: fixed;bottom: 0;left: 0;width: 100vw;z-index: 9;overflow: hidden;}
.prodDBtn ul {font-size: 12px;display: flex;justify-content: space-between;align-items: center;background: #f39800;}
.prodDBtn ul li {}
.prodDBtn ul li.on {color: #F39800;}
.prodDBtn ul li.pbJF {color: #f39700;flex: 1;background: #fff;text-align: left;padding: 1vw;}
.prodDBtn ul li.pbJF em {display: inline-block;vertical-align: top;font-size: 3.8vw;padding: 0 0 0 3vw;}
.prodDBtn ul li.pbJF span {display: inline-block;font-weight: 300;/* float: right; *//* text-align: right; *//* margin-right: 5vw; */}
.prodDBtn ul li.pbJF span b {font-size: 5vw;font-weight: 300;}
.prodDBtn ul li.pbJF s {font-size: 3.2vw;color: #ccc;display: block;font-weight: 300;}
.prodDBtn ul li.pbCol {float: right;font-size: 14px;background: #f4f4f4;padding: 0 10px;font-weight: 300;}
.prodDBtn ul li.pbBtn {color: #fff;font-size: 4.2vw;padding: 0 5vw;font-weight: 300;}
.prodDBtn ul li.forbidenBtn {float: right;background: #bfbdba;color: #fff;font-size: 14px;padding: 0px 18px;}
 

.UserInforTop{padding: 2vw 0;font-size: 3.4vw;font-weight: 300;white-space: nowrap;background: #f4f4f4;color: #4e3329;} 
.UserInforTop p i{font-size: 12px; vertical-align: top; margin-right: 4px;}
.prodPAdres{padding: 4% 2%;text-align: left;font-size: 3.6vw;font-weight: 300;border-bottom: 1px solid #f4f4f4;} 
.prodPAdres ul{position: relative; padding-right: 10%;} 
.prodPAdres ul li{line-height: 20px; margin-bottom: 5px;} 
.prodPAdres li span{display: inline-block;margin-right: 10px;color: #555;} 
.prodPAdres li em{display: inline-block;background: #ffb800;font-weight: 300;color: #fff;padding: 0px 4px;font-size: 12px;line-height: 20px;border-radius: 6px;} 
.prodPAdres li q{display: inline-block; font-size: 12px; color: #FFFFFF; padding: 0 4px; background: #FF5722; margin-left: 2%; border-radius: 6px;} 
.prodPAdres ul i{display: inline-block;line-height: 40px;position: absolute;right: 0;top: 0;color: #ccc;font-weight: bold;font-family: serif;} 
.prodPAdres p{line-height: 40px; font-size: 15px; font-weight: 300; color: #FD982C;}

.ptucLOption ul{padding: 0 3vw;} 
.ptucLOption ul li{margin-top: 2%; padding-bottom: 2%; border-bottom: 1px solid #f4f4f4;}

.prodPBox{border-bottom: 1px solid #f4f4f4;} 
.prodPBox ul{padding: 0;} 
.prodPBox ul li{border: none;}
.ptucLPic{width: 22vw;height: 22vw;display: inline-block;vertical-align: top;position: relative;background: #f4f4f4;} 
.ptucLPic i{width: 6vw; height: 6vw; display: inline-block; position: absolute; right: 1%; bottom: 1%; z-index: 9;} 
.ptucLPic i img{height: 6vw; width: 6vw;}

.ptucLInfor{display: inline-block;width: 64vw;margin-left: 5vw;height: 22vw;text-align: right;} 
.ptucLInfor h4{font-size: 3.6vw;font-weight: 300;height: 20px;line-height: 20px;overflow: hidden;white-space: nowrap;margin: 2% 0;text-overflow: ellipsis;} 
.ptucLInfor h4.ptcPInf{} 
.ptucLInfor .ggBox{color: #ccc; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 2%;} 
.ptucLInfor span{font-size: 13px; font-weight: 300; color: #f39700; line-height: 24px;} 
.ptucLInfor span b{font-size: 4.5vw !important;font-weight: normal;} 
.ptucLInfor span q, .ptucLInfor h4 q{background: #c40311; line-height: 24px; display: inline-block; color: #fff; padding: 0 4px; border-radius: 4px; font-size: 13px; font-weight: 300; float: right;} 
.ptucLInfor h4 q{float: none; border-radius: 4px; padding: 0 2px; line-height: 16px; font-size: 12px; margin-right: 5px;}

.ProdInfBox{border-bottom: 1px solid #f4f4f4; padding: 2%; text-align: left;} 
.ProdInfBox li{line-height: 40px;font-size: 3.6vw;font-weight: 300;display: flex;} 
.ProdInfBox li q{flex: 1;} 
.ProdInfBox li em{float: right; display: inline-block; text-align: right; font-weight: 300;} 
.ProdInfBox li em i{width: 26px; height: 26px; line-height: 26px; text-align: center; font-size: 22px; font-weight: bold; border-radius: 4px; color: #FDA700; display: inline-block; background: #FFE5B3; border: 1px solid #FDA700; vertical-align: middle;} 
.ProdInfBox li span{font-size: 13px;font-weight: 300;color: #f39700;line-height: 40px;margin-right: 2%;} 
.ProdInfBox li span b{font-size: 4.5vw !important;vertical-align: sub;font-weight: normal;} 
.ProdInfBox .numInp{width: 26%; font-weight: bold; border: none; text-align: center; display: inline-block; height: 26px; line-height: 26px; border: 1px solid #ccc; color: #555; border-radius: 4px; font-size: 14px; vertical-align: middle;} 
.ProdInfBox .minun{color: #ccc !important; border: 1px solid #ccc; background: #f4f4f4;}
.ProdInfBtn{text-align: center; margin: 2%;}
.ProdInfBtn a, .ProdPayWayBtn a{display: inline-block;width: 80%;background: #ffb800;font-size: 4vw;line-height: 12vw;color: #fff;border-radius: 12vw;margin: 2% auto;} 

.ProdPayWayBtn{text-align: center;} .ProdInfBtn a, .ProdPayWayBtn a{display: inline-block;width: 80%;background: #ffb800;font-size: 4vw;line-height: 12vw;color: #fff;border-radius: 12vw;margin: 2% auto;} .ProdPayWayBtn a{width: 100%;}
.ProdPayWay{} .ProdPayWay::before{content: ""; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); z-index: 99;}
.ProdPayWayCent{position: fixed; bottom: 0; left: 0; z-index: 999; text-align: left; padding: 8vw 4% 4% 4%; width: 92%; background: #fff;}
.ProdPayWay h5{color: #FDA700;font-size: 4vw;}
.ProdPayWayTlt{text-align: center; position: relative;} .ProdPayWayTlt h3{font-size: 16px; font-weight: 300; color: #555; line-height: 30px; position: relative;} .ProdPayWayTlt i{position: absolute; right: 0; top: -4vw; z-index: 9999;} .ProdPayWayTlt span{font-size: 13px; font-weight: 300; color: #f39700;} .ProdPayWayTlt span b{font-size: 24px; vertical-align: sub;}
.prodPpaybox{font-size: 3.6vw;margin: 4% 0%;font-weight: 300;display: flex;justify-content: space-between;} 
.prodPpaybox em{display: inline-block;flex: 1;height: 24px;line-height: 24px;color: #777;vertical-align: sub;font-weight: 300;}
.prodPpaybox b{background: url(../images/iconCheck.png);background-size: 100%;display: inline-block;float: left;height: 16px;width: 16px;margin-top: 4px;margin-right: 3%;background-position: 0 16px;} 
.prodPpaybox p q{color: #F39700; font-size: 14px; display: inline-block; line-height: 28px; /* vertical-align: middle; */} .prodPpaybox p{display: inline-block;line-height: 20px;} .prodPpaybox p img{width: 16px; height: 16px; vertical-align: sub; margin-left: 2px; display: inline-block;} .prodPpaybox p input{width: 40px; padding: 0 10px; line-height: 26px; display: inline-block; border-radius: 4px; border: 1px solid #ccc; display: none; margin-right: 5px;} .prodPpaybox p span{background: #FDA700; padding: 5px 10px; border-radius: 5px; color: #fff; font-size: 12px; vertical-align: baseline; display: none; margin-left: 8px;} 
.prodPpaybox p i{font-size: 22px; line-height: 22px; color: #FDA700; display: inline-block;}
.prodPpaybox b.opDoen{background: #fff;  border-radius: 50px; }

.cashPayBox{margin-bottom: 10%;}
.cashPayBox ul{ }
.cashPayBox li{display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;padding: 2% 3%;margin-bottom: 2%;background: #f4f4f4;border-radius: 5px;}
.cashPayBox li i{display: block;width: 7vw;height: 7vw;margin-right: 3%;}
.cashPayBox li i img { height: 100%;}
.cashPayBox li span{flex: 1;font-size: 13px;font-weight: 300;}
.cashPayBox li b.addCash{background: url(../images/iconCheck.png);background-size: 100%;background-position: 0 16px;} 
.cashPayBox li b{background-position: 0 0;display: inline-block;float: left;height: 16px;width: 16px;margin-top: 4px;margin-right: 3%;background: url(../images/iconCheck.png);background-size: 100%;}

.prodPRedbag b.opDoen{width: 6px;height: 6px;margin: 9px 5px 10px 5px;background: #FF5722; }
.prodPRedbag em,.prodPRedbag p,.prodPRedbag p q{ color: #FF5722;}
.prodPselect p i{display: none !important;}
.prodPselect b{background-position: 0 0px;}
.productSmsBox{text-align: left;margin: 5% 0;}
.prosmsVa{width: 100%; border-radius: 2px; padding: 2% 0% 0 0%; font-size: 12px; position: relative;} .prosmsVa input{display: inline-block; border: 1px solid #eaeaea; */line-height: 28px; padding: 0% 2%; width: 60%; float: left; line-height: 38px; background: #f4f4f4; border-radius: 4px; margin-right: 2%;} .prosmsVa .msgs{display: inline-block;color: #FFFFFF;width: 30%;text-align: center;line-height: 38px;background: #FDA700;border: 1px solid #DC9100;border-radius: 4px;font-size: 3.6vw;font-weight: 300;} .prosmsVa .msgshov{color: #777; background: #ddd; border: 1px solid #ccc;}
.validationTips{height: 24px; line-height: 24px; font-size: 13px; font-weight: 300;}

.tipsBlockBox::before{content: ""; position: fixed; top: 0; left: 0; background: #fff; width: 100vw; height: 100vh; z-index: 99999;}
.tipsBlockBox::before{z-index: 999999;background: rgba(0, 0, 0, 0.85);}
.BLBoxC{position: fixed;top: 20%;left: 10%;z-index: 9999999;width: 70%;background: #fff;padding: 5%;border-radius: 2vw;} 
.BLBoxC h5 {font-size: 6vw;font-weight: 300;color: #333;}
.BLBoxC p{font-size: 4.5vw;font-weight: 300;padding: 8% 0;border-bottom: 1px solid #ccc;} 
.BLBoxC span{display: inline-block;width: 49%;color: #333;line-height: 10vw;font-weight: 300;font-size: 4.5vw;margin-top: 4%;border-right: 1px solid #ccc;white-space: nowrap;} 
.BLBoxC span.on{color: #ffc11c;}
.BLBoxC span:last-child{border: 0;}

/* 兑换成功页面 */
.changeSuss, .changeFlase{padding: 5% 3%; margin: 2%; background: #fff; border-radius: 2px; font-size: 14px;} 
.changeSuss .sussPic{padding: 5% 0%;} 
.changeSuss .sussPic h5 img,.flasePic h5 img{width: 35%; margin: 0 auto;} 
.changeSuss .sussPic span{font-size: 6vw;color: #ffb800;display: inline-block;margin-top: 2%;line-height: 24px;} 
.changeSuss .sussPic span i{width: 25px;vertical-align: sub;display: inline-block;padding: 0 5px;color: #8bc34a;} 
.changeSuss .sussPic .falseTips{color: #9A2500; margin: 4% 16% 0% 16%; text-align: left; font-size: .8rem;}
.sussInfor{padding: 4%;font-size: 14px;} 
.sussInfor ul li{text-align: left;padding: 2% 0%;}
.sussInfor ul li em{display: block;font-weight: 300;color: #aaa;} 
.sussInfor ul li span{display: block;text-align: left;word-break: break-all;font-weight: 300;color: #555;font-size: 4vw;} 
.sussInfor ul li span i{font-style: normal;font-weight: 300;font-size: 4.5vw;} 
.sucTips,.sucBomTips {text-align: center;font-size: 4vw;margin: 2% 0;color: #b10000;font-weight: 300;}
.sucBomTips{color: #ffb800;text-align: center;font-size: 3.6vw;}
.changeBtn{padding: 3%;font-size: 0;display: flex;} 
.changeBtn span{flex: 0 0 46%;box-sizing: border-box;margin: 2%;font-size: 4vw;display: inline-block;color: #795548;border-radius: 30px;line-height: 36px;background: #ffb800;}
.changeBtn a{color: #795548; display: block;}
.chanAgn{background: rgba(64, 194, 34, 0.87); border: 1px solid #23A904;}
.chanFinsh{background: #8BC34A !important; border: 1px solid #71A931 !important;}
/* 兑换失败页面 */
.flasePic h5 i{font-size: 48px; color: #FF4B12; padding: 10px 0; display: inline-block;}
.flasePic span{font-size: 20px; color: #555; margin-top: 2%; display: inline-block;}
.flasePic .falseTips{color: #ffa800;margin: 4% 2%;font-size: 13px;font-weight: 300;}




/* 订单列表 */ 
.orderTime {width: 100vw;background: #fff;position: fixed;height: 40px;z-index: 9;}
.orderTimeMenu {position: relative;z-index: 999;}
.orderTimeMenu li{width: 50vw;float: left;line-height: 40px;font-size: 14px;position: relative;background: #FFFFFF;border-left: 1px solid #f4f4f4;margin-left: -1px;border-bottom: 2px solid #f4f4f4;}
.orderTimeMenu li.on{border-bottom: 2px solid #FF9800;}
.orderTimeMenu li.on i {transform: rotate(-180deg);display: inline-block;}
.orderTimeMenu li i{font-size: 14px;display: inline-block;}
.orderTimeBox { }
.orderTimeBox .Orclose {position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 4;}
.orderTimeBox dl{background: #fff;position: absolute;top: 42px;z-index: 99;width: 100vw;}
.orderTimeBox dl dd{font-size: 14px;line-height: 40px;border-bottom: 1px solid #f4f4f4;}
.orderTHide{position: fixed;background: rgba(0,0,0,0.5);width: 100%;height: 100%;z-index: 9;}

.orderList ul{font-weight: 300;padding-top: 42px;}
.orderList ul li{height: auto;text-align: left;font-size: 14px;margin: 0 0 4vw 0;background: #FFFFFF;/* box-shadow: 1px 1px 2px 0px #ccc; */position: relative;}
.orderList li i.orderLIcNet {position: absolute;color: #777;right: 2%;top: 60%;}
.orderList ul li img{width: 20vw;height: 20vw;}
.orderList ul li em{line-height: 16px;vertical-align: middle;max-height: 32px;display: block;overflow: hidden;font-weight: 300;font-size: 14px;color: #333;}
.orderList ul li i{display: inline-block;width: 16px;height: 16px;color: #fff;margin-right: 4px;font-size: 12px;line-height: 16px;text-align: center;vertical-align: middle;}
.orderList ul li span{line-height: 36px;text-align: right;font-size: 13px;}
.orderList ul li b{font-size: 14px;font-weight: 300;color: #FF9800;}
.orderList ul li b.pjtips{font-size: 12px;color: #aaa;vertical-align: bottom;}
.orderList ul li q{float: right;display: inline-block;color: #FF9800;}
.orderList .pTlt {width: 70vw;display: inline-block;padding: 0 4vw 0 2vw;font-size: 13px;margin: 4% 0 0 0;position: relative;}
.orderList .pTlt q{float: none;font-size: 12px;color: #ccc;margin-top: 4px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
.orderList .pTlt i {position: absolute;color: #777;top: 0;right: 0;margin: 0;font-size: 13px;line-height: 20px;}
.orderList .pPrice {padding: 0 2vw;width: 72vw;display: inline-block;}
.orderList .pPrice span{line-height: 20px;padding: 8px 0;display: inline-block;text-align: left;width: 100%;}
.orderList .pImg {width: 20vw;height: 20vw;min-height: 70px;display: inline-block;float: left;margin-top: 3%;margin-left: 2%;}
.orderListT {border-bottom: 1px solid #f4f4f4;padding: 0 2%;font-size: 13px;line-height: 36px;}
.orderListT .finshed {color: #4CAF50;}
.orderListT .Unfinshed {color: #F44336;}
.orderList li .pObtn {margin: 0 2vw 0 22vw;padding: 3vw 0;text-align: right;}
.orderList li .pObtn a{padding: 0 10px;background: #f4f4f4;border: 1px solid #eaeaea;border-radius: 5px;font-size: 13px;line-height: 24px;display: inline-block;}
.orderList li .pObtn a.on{background: #FF9800;color: #fff;border: 1px solid #DE8400;}
.orderDbox{position: absolute;top: 0;left: 0;/* bottom: 50px; */overflow: auto;width: 100%;}

/* 订单详情 */
.orderdetail,.oDInfor {position: relative;box-shadow: 0px 2px 4px 0px #dbdbdb;margin: 1% 1% 2% 1%;background: #fff;width: 98%;font-weight: 300;}
.orderdetail .pImg{ width: 22vw; height: 22vw; float: left;}
.orderdetail .pImg img{ width: 100%; height: 100%;}
.orderdetail .pTlt {width: 66vw;font-size: 13px;text-align: left;margin: 2% 3vw 2% 0vw;display: inline-block;}
.orderdetail .pTlt em{max-height: 32px;line-height: 16px;overflow: hidden;color: #555;font-weight: 300;font-size: 4vw;}
.orderdetail .pTlt q{float: none;font-size: 12px;color: #ccc;margin-top: 4px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
.orderdetail .pPrice {font-size: 13px;text-align: left;width: 70vw;margin: 0 3vw 1% 3vw;display: inline-block;}
.orderdetail .pPrice b {color: #FF9800;font-weight: 300;font-size: 16px;}
.orderdetail .pPrice q {margin-left: 4%;}
.orderdetail .pPrice q.hplsart {font-size: 12px;float: right;line-height: 22px;color: #F90;}

.oDInfor ul {text-align: left;font-size: 13px;padding: 4%;padding-bottom: 2%;}
.oDInfor ul li {margin-bottom: 2%;}
.oDInfor li em,.oDInfor li span {display: inline-table;font-weight: 300;}
.oDInfor li span {width: 74%;color: #333;}
.oDInfor li span i {font-size: 18px;}
.oDInfor dl {font-size: 13px;text-align: left;padding: 4%;}
.oDInfor dl dt {font-size: 15px;line-height: 30px;}
.cDOn {color: #FF9800;}
.cDbad { background: rgba(204,204,204,0.7); border: 1px solid rgba(204,204,204,0.9);}

.oDptucInfor{background: #8BC34A;color: #FFFFFF;font-weight: 300;border-radius: 8px;border-top-left-radius: 2px;font-size: 13px;}
.oDptucInfor ul { padding: 2% 4%;}
.oDptucInfor ul li {width: 84%;float: left;font-size: 13px;}
.oDptucInfor li em,.oDptucInfor li span {font-weight: 300;vertical-align: middle;}
.oDptucInfor li span {display: inline-block;word-break: break-all;vertical-align: top;color: #fff;}
.oDInforWxBtn{padding: 6% 4%;width: auto;}
.oDInforWxBtn span{font-size: 4vw;background: #8BC34A;height: 10vw;display: inline-block;line-height: 10vw;padding: 0 10vw;color: #fff;font-weight: 300;border-radius: 10vw;}
.oDInforWxBtn p{padding: 5% 10% 0 10%;font-weight: 300;font-size: 3.6vw;}
.oDInforWxBtn p b{}

.cDcode {width: 21% !important;float: right !important;margin: 0 !important;text-align: center;position: absolute;right: 5px;}
.cDcode em {display: block !important;font-size: 12px;line-height: 20px;}
.cDcode i { font-size: 36px;}

.orderLDBtn {background: #F4F4F4;height: 40px;padding: 5px 0%;width: 100%;text-align: center;position: absolute;bottom: 0;left: 0;}
.orderLDBtn em{width: 45%;display: inline-block;background: #bbb;height: 40px;line-height: 40px;color: #333;font-size: 16px;border-radius: 4px;margin: 0 1%;}
.orderLDBtn em.goOnPay {background: #ff9900;color: #fff;}
.orderLDBtn em.goOnPl {background: #8BC34A;color: #FFF;}
.orderLDBtn em.oneBtn {display: inline-block;width: 90%;line-height: 40px;border: 1px solid #D88F00;background: #FDA700;color: #FFFFFF;font-size: 16px;border-radius: 4px;}


/*物流样式*/
.status-list {margin: 0;padding: 2% 4%;background: #f8f8f8;list-style: none;font-size: .8rem;border-bottom: 1px solid #eaeaea;}
.status-list li {border-left: 1px solid #d9d9d9;text-align: left;padding-bottom: 3%;}
.status-list li:before {content: '';border: 3px solid #f3f3f3;background-color: #d9d9d9;display: inline-block;width: 5px;height: 5px;border-radius: 5px;margin-left: -6px;vertical-align: top;float: left;}
.status-list .time {line-height: 1rem;color: #999;}
.status-list .time span{display: inline-block;margin-left: .7rem;font-size: 12px;color: #aaa;}
.status-list .text {display: inline-block;vertical-align: top;width: 95%;margin-left: .4rem;}
.status-list .hidden {display: inline;visibility: hidden;}
.status-list .latest:before {background-color: #fe4300;border-color: #f8e9e4;}
.status-list .latest .text,.status-list .latest .time{color: #ff9900;}
.status-info {margin-top: -10px;margin-right: 10px;background-color: #fff;overflow: hidden;line-height: 28px;color: #959595;text-align: left;cursor: pointer;}
.status-info:hover{color:#ff9900;}
.status-info .info-inner {margin-top: 20px;margin-left: 18px;}
.togRos {transform:rotate(180deg);-webkit-transform:rotate(180deg); -o-transform:rotate(180deg); }

.WarmthHint::before {content: "";position: fixed;width: 100vw;height: 100vh;background:transparent;top: 0;left: 0;z-index: 9;}
.WarmthHint p {position: fixed;top: 35%;left: 0;width: 66vw;margin: 0 15vw;background: rgba(0, 0, 0, 0.65);padding: 4% 2vw;z-index: 999;border-radius: 8px;font-size: 15px;color: #fff;}
.WarmthHint em {position: absolute;top: 0%;right: 0;margin-top: -5%;border-radius: 30px;margin-right: -3%;background: rgba(0, 0, 0, 0.65);}
.WarmthHint em i {font-size: 18px;padding: 3px;display: inline-block;}


.ordervrBg::before{content: "";position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background: #fff;z-index: 99;}
.ordervrCon {position: absolute;top: 0;left: 0;z-index: 999;text-align: left;padding: 8vw 4% 4% 4%;width: 92%;background: #fff;}
.orderverify h3 {line-height: 30px;background: #f4f4f4;color: #FF9800;font-size: 13px;text-align: center;}
.orderverify ul{padding: 4% 0;}
.prosmsVa {width: 100%;border-radius: 2px;padding: 2% 0%;font-size: 12px;position: relative;}
.prosmsVa input {display: inline-block;border: 1px solid #eaeaea; */line-height: 28px;padding: 0% 2%;width: 60%;line-height: 30px;background: #f4f4f4;border-radius: 4px;margin-right: 2%;font-size: 13px;}
.prosmsVa .msgs {display: inline-block;color: #FFFFFF;width: 30%;text-align: center;line-height: 28px;background: #FDA700;border: 1px solid #DC9100;border-radius: 4px;font-size: 13px;font-weight: 300;}
.prosmsVa .msgshov{color:#777;background: #ddd;border: 1px solid #ccc;}
.prosmsVa q{display: inline-block;width: 30%;height: 30px;vertical-align: top;}.prosmsVa q img {height: 100%;}
.prosmsVa p{text-align: left;padding: 5px 0 0;font-size: 12px;color: #FDA700;}

.orderverBtn {height: 38px;margin: 10% 0% 5% 0%;width: 100%;text-align: center;}
.orderverBtn span {display: inline-block;width: 100%;line-height: 40px;background: #FDA700;color: #FFFFFF;font-size: 16px;border-radius: 4px;}

 
.codeCargSuc {padding: 20vw 2vw;}
.codeCargSuc i{font-size: 60px;color: #FF9800;}
.codeCargSuc p{padding: 4vw;font-size: 16px;line-height: 24px;color: #FF9800;}

/*视频会员*/
.moiveBox{padding: 4%;text-align: left;}
.moiveTlt{margin-bottom: 5vw;}
.moiveTlt h5,.moiveChance h5{font-size: 4vw;font-weight: 300;margin-bottom: 2vw;margin-left: 1vw;}
.moiveTlt input{font-size: 4vw;font-weight: 300;color: #555;width: 100%;padding: 0 5%;border: 1px solid #ccc;height: 10vw;border-radius: 10vw;margin-bottom: 2vw;box-sizing: border-box;}
.moiveTlt p{color: #ffb800;font-weight: 300;}
.moiveChance ul{display: flex;flex-wrap: wrap;}
.moiveChance ul li{flex: 0 0 31%;box-sizing: border-box;margin: 1%;max-width: 31%;}
.moiveChance ul li p{background: #fff;border: .4vw dashed #ccc;padding: 15% 0;border-radius: 1vw;}
.moiveChance ul li p em{display: block;text-align: center;font-size: 5vw;font-weight: 300;margin-bottom: 1vw;}
.moiveChance ul li p span{vertical-align: text-bottom;font-size: 3.2vw;font-weight: 300;display: block;text-align: center;letter-spacing: -.3vw;white-space: nowrap;}
.moiveChance ul li p span b{font-size: 5vw;color: #FF9800;letter-spacing: -.3vw;}
.moiveChance ul li q{display: block;font-size: 3.4vw;font-weight: 300;text-align: center;margin: 1.5vw 0 3vw 0;color: #aaa;}
.moiveChance ul li.on{ }
.moiveChance ul li.on p{background: #ffb701;border: .4vw solid #ffb701;}
.moiveChance ul li.on p em{color: #fff;}
.moiveChance ul li.on p span {color: #fff;}
.moiveChance ul li.on p span b{color: #fff;}

.moiceSum{width: 90%; margin: 2% 5%; border-radius: 13vw; overflow: hidden; border: 2px solid #ffb800;}
.moiceSum p{font-weight: 300;padding: .8vw 0;color: #555;font-size: 3.5vw;}
.moiceSum p b{color: #FF9800;font-size: 4.5vw;font-weight: 500;}
.moiceSum q{ display: inline-block; margin-left: 4vw;  color: #aaa;}
.moiveBtn{position: fixed;bottom: 0;width: 100%;left: 0;display: block;background: #ffffff;text-align: center;color: #333;z-index: 9;}
.moiveBtn span{font-size: 4.8vw;background: #ffb800;display: block;color: #fff;padding: 1vw 0;text-shadow: 0px 1px 3px #866200;}
.moiveBtn::after{/* content:""; */position: absolute;bottom: 0;height: 80%;left: 0;margin: 2% 5%;border-radius: 13vw;background: #ffb800;z-index: -1;}

.moiveRole{text-align: left;margin: 0 5% 5% 5%;padding-bottom: 20vw;}
.moiveRole h5{display: block;width: 45vw;margin: 0 auto;}
.moiveRole ul{font-weight: 300;font-size: 3.6vw;margin: 1vw 0;}
.moiveRole li{padding: 1vw 0;}

.rechargeBox{padding: 10vw 4vw;}
.rechargeBox h4{font-size: 6vw;font-weight: bold;color: #ccc;}
.rechargeBox h5{font-size: 6vw;font-weight: bold;color: #ffb800;}
.rechargeBox i{display: inline-block;width: 22%;margin: 3vw 0 3vw 0;}
.rechargeBox .rechfail {margin-top: 5%;color: #FF5722;font-size: 4.5vw;font-weight: 300;}
.rechargeBox .rechfail p{font-weight: 300;font-size: 3.6vw;color: #FF5722;margin: 2vw 0;}
.hotelBoxBtn{position: fixed;width: 100%;left: 0;bottom: 0;background: #fff;z-index: 5;}
.hotelBtn span,.hotelBoxBtn span{display: block;background: #ffb800;color: #333;font-size: 4vw;font-weight: 300;line-height: 12vw;border-radius: 12vw;margin: 3vw 1vw;}
.rechargeBox span a,.hotelBtn span a,.hotelBoxBtn span a{display: block;color: #fff;font-weight: 500;text-shadow: 0px 1px 3px #866200;}

/*酒店权益*/
.hotelBox{margin: 5vw;}
.hotelInfo{display: flex;justify-content: space-between;align-items: center;}
.hotelInfo i{ display: inline-block; width: 17vw;}
.hotelInfo i img{ }
.hotelInfo p{flex: 1;text-align: right;margin-left: 2vw;}
.hotelInfo p span{display: block;font-size: 5vw;color: #333;}
.hotelInfo p q{font-size: 3.5vw;font-weight: 300;color: #ffb800;}

.hotelRole{text-align: left;margin: 2vw 0;}
.hotelRole h5{display: inline-block;background: #feb801;padding: 0 8vw 0 4vw;height: 9vw;line-height: 9vw;color: #fff;font-size: 4vw;font-weight: 300;margin: 0 0 2vw -5vw;position: relative;}
.hotelRole h5::after{content:"";width:0;height:0;border-width: 4.5vw 4.5vw 4.5vw 0;border-style:solid;border-color: transparent #fff transparent transparent;/*透明 黄 透明 透明 */position:absolute;top: 0;right: 0;}
.hotelRole p{font-size: 3.6vw;font-weight: 300;}
.hotelRole p img{ }
.rechargerole {padding: 4% 0;}
.rechargerole img{ }
.hotelSucInfo{text-align: left;padding: 5% 5% 0 5%;}
.hotelSucInfo ul { }
.hotelSucInfo ul li{display: flex;font-size: 4vw;font-weight: 300;padding: 1vw 0;color: #ffb800;}
.hotelSucInfo ul li span{color: #aaa;} 
.hotelSucInfo ul li em{white-space: nowrap;font-weight: 300;color: #555;} 

.hotelList{background: #f4f4f4;}
.htListBox{}
.htListBox ul{padding: 2vw 3vw;}
.htListBox h3,.spListBox h3{background: #262729;padding: 2.5vw 0;font-size: 4.5vw;font-weight: 300;color: #b09150;}
.htListBox h3 i,.spListBox h3 i {display: inline-block;vertical-align: sub;width: 6vw;height: 6vw;margin-right: 2vw;}
.htListBox li{display: flex;color: #555;font-weight: 300;margin-bottom: 3vw;background: #fff;border-radius: 2vw;overflow: hidden;} 
.htListBox li .code-l{flex: 1;position: relative;border-right: 1.7px dashed #aaa;} 
.htListBox li .code-l a{display: block;color: #555;}
.htListBox li .code-l i{position: absolute;left: 1.5vw;top: 0;background: url(../images/yaduotips.png) no-repeat;background-size: 100% 100%;font-weight: 30;padding: 8px 6px 29px 3px;x;width: 47px;z-index: 5;} 
.htListBox li .code-l img{height: 100%;position: absolute;top: 0;left: 0;z-index: 1;} 
.htListBox li .code-l i em b{font-weight: 300; display: block;} 
.htListBox li .code-l i em{font-size: 3vw;color: #fff;font-weight: 300;white-space: nowrap;line-height: 10px;} 
.htListBox li .code-r{width: 20vw;padding: 3vw 4vw;} 
.htListBox li .code-r span{display: block;color: #b20000;font-size: 5vw;} 
.htListBox li .code-r i{display: block;font-size: 4vw;font-weight: 300;margin-bottom: 1vw;} 
.htListBox li .code-r q{display: block;font-size: 3.2vw;white-space: nowrap;} 
.htListBox li .code-r em{font-weight: 300;font-size: 3.4vw;display: block;background: #ffb800;margin-top: 2vw;padding: 1.5vw 0;color: #333;border-radius: 2vw;}  

.uploadList{ }
.uploadList li{display: block;text-align: left;}
.uploadList li img{ }
.uploadList li h5{padding: 2vw 2vw 0vw 2vw;font-size: 4.5vw;font-weight: 300;}
.uploadList li p{padding: 0 2vw 2vw 2vw;display: flex;align-items: center;justify-content: space-between;}
.uploadList li p span{font-size: 3.2vw;color: #b20000;}
.uploadList li p em{font-weight: 300;font-size: 4vw;background: #ffb800;padding: 1vw 2.5vw;color: #333;border-radius: 2vw;} 

.ksList{ }
.ksList ul{margin: 2vw 3vw;}
.ksList li{position: relative;/* background: #5c8235; */text-align: left;font-size: 0;margin-top: 3vw;border-radius: 2vw;}
.ksList li i{display: block;/* padding: 13vw 8vw; *//* width: 50vw; */}
.ksList li i img{ }
.ksList li p{position: absolute;top: 3vw;left: 41.5vw;color: #aaa;font-weight: 300;}
.ksList li:nth-child(1) p q{background: #fa9a00;}
.ksList li:nth-child(2) p q{background: #f473ae;}
.ksList li:nth-child(3) p q{background: #4990d1;}
.ksList li:nth-child(1) p em{color: #fa9a00;}
.ksList li:nth-child(2) p em{color: #f473ae;}
.ksList li:nth-child(3) p b{color: #4990d1;}
.ksList li p span{font-size: 4vw;color: #5d8235;display: block;margin-bottom: 3%;}
.ksList li p q{display: inline-block;font-size: 3.2vw;vertical-align: text-bottom;color: #fff;padding: .2vw 1vw;border-radius: 10vw;} 
.ksList li p b{display: inline-block;font-size: 4.5vw;font-weight: bold;}
.ksList li p s{display: inline-block;font-size: 3.2vw;height: 7vw;line-height: 7vw;}
.ksList li p em{display: inline-block;font-weight: 300;font-size: 3.2vw;height: 7vw;float: right;} 

.puctlayerBox {-webkit-overflow-scrolling: touch;overflow-scrolling: touch;-o-overflow-scrolling: touch;-moz-overflow-scrolling: touch;-ms-overflow-scrolling: touch;}
.puctlayerBox::after {content: "";position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);top: 0;left: 0;z-index: 999;}
.layerCont {width: 94%;padding: 3%;background: #fff;position: fixed;bottom: 0;left: 0;z-index: 9999;height: 70vh;}
.layerCont h3 {position: relative;font-weight: 300;padding-bottom: 12px;border-bottom: 1px solid #f4f4f4;z-index: 999;}
.layerCont h3 i {position: absolute;top: -38px;left: 0;width: 80px;height: 80px;border: 1px solid #ccc;border-radius: 4px;}
.layerCont h3 i img {border-radius: 4px;}
.layerCont h3 q {position: absolute;top: 0;right: 0;width: 18px;height: 18px;border: 1px solid #999;border-radius: 20px;font-size: 14px;line-height: 18px;text-align: center;color: #999;z-index: 999;font-weight: bold;}
.puctPayInfor em {display: inline-block;float: left;font-size: 13px;line-height: 32px;height: 32px;font-weight: 300;color: #333;text-align: left;}
.puctPayInfor p {text-align: left;margin-left: 89px;}
.puctPayInfor p span {display: block;font-size: 13px;line-height: 22px;}
.puctPayInfor p span b {font-size: 18px;margin: 0;color: #FF9800;}
.puctPayInfor .ppNube {padding: 4% 0;height: 32px;border-bottom: 1px solid #f4f4f4;}
.puctPayInfor .pbtextInp {display: inline-block;float: right;}
.puctPayInfor .pbtextInp q {width: 28px;height: 28px;display: inline-block;font-size: 20px;color: #FF9800;border: 1px solid #FF9800;border-radius: 4px;font-weight: bold;vertical-align: top;line-height: 28px;}
.puctPayInfor .pbtextInp .jianBtn {border: 1px solid #ccc;color: #999;}
.puctPayInfor .pbtextInp input {width: 70px;height: 28px;display: inline-block;border: 1px solid #ccc;text-align: center;color: #555;font-size: 16px;border-radius: 4px;vertical-align: top;}
.guigeBox {overflow: auto;position: absolute;width: 92%;top: 75px;bottom: 60px;left: 0;right: 0;background: #fff;padding: 0 4%;z-index: 9999;}
.plTipsBox {padding: 2% 0;text-align: left;border-bottom: 1px solid #f4f4f4;}
.plTipsBox h4 {font-size: 13px;line-height: 26px;height: 26px;font-weight: 300;color: #333;text-align: left;}
.plTipsBox ul {}
.plTipsBox li {display: inline-block;padding: 0 4%;line-height: 25px;background: #f4f4f4;border: 1px solid #eaeaea;border-radius: 4px;font-size: 13px;font-weight: 300;margin: 1% 2% 1% 0;}
.plTipsBox li.on {background: #FF9800;border: 1px solid #E68900;color: #fff;}
.plTipsBox li.disabled {color: #d8cdcd;pointer-events: none;}
.pcLayerBtn {position: absolute;width: 90%;bottom: 0;left: 0;padding: 0 5%;background: #fff;}
.pcLayerBtn span {background: #FF9800;color: #fff;font-size: 16px;height: 40px;display: inline-block;line-height: 40px;width: 100%;border-radius: 4px;margin: 10px 0;}
.PLBG {width: 100vw;height: 100vh;position: absolute;top: 0;left: 0;z-index: 9998;overflow: hidden;}

/* 地址管理 */
.adrManage {font-weight: 300;}
.adrManage ul {padding: 0 0% 20% 0%;}
.adrManage li {text-align: left;padding: 5% 5% 3% 5%;position: relative;margin-bottom: 3%;background: #fff;}
.adrManage li p.borTop {padding-top: 2%;border-top: 1px solid #f4f4f4;}
.adrManage li em, .adrManage li q, .adrManage li span, .adrManage li i, .adrManage li a {display: inline-block;font-size: 14px;}
.adrManage li em, .adrManage li q {color: #333;margin-right: 5%;font-size: 15px;margin-bottom: 2%;font-weight: 300;}
.adrManage li q {}
.adrManage li span {color: #999;margin-bottom: 4%;width: 90%;}
.adrManage li i {background: #fff;padding: 0 4px;font-size: 13px;line-height: 24px;text-align: center;border-radius: 4px;font-weight: 300;}
.adrManage li i b {width: 12px;height: 12px;border-radius: 30px;border: 1px solid #ccc;display: inline-block;vertical-align: sub;margin-right: 5px;}
.adrManage li i.on {color: #FDA700;}
.adrManage li i.on b {background: #FFA900;border: 1px solid #E39600;}
.adrManage li a, .adrAlter h3 a {font-size: 13px;float: right;line-height: 24px;border-radius: 4px;margin-left: 4%;white-space: nowrap;text-align: right;}
.adrManage li a.mageAlter {color: #4CAF50;}
.adrManage li a b {font-weight: 300;margin-right: 4%;font-size: 12px;vertical-align: top;}
.noadres {padding: 2%;width: 60%;margin: 20% auto;}
.noadres img {width: 60%;margin: auto}
.noadres p {font-size: 14px;font-weight: 300;}
.addAdrMBtn {height: 2.6rem;padding: 4% 0%;width: 100%;text-align: center;}
.addAdrMBtn span {display: inline-block;width: 70%;line-height: 36px;border: 1px solid #D88F00;background: #FDA700;color: #FFFFFF;font-size: 16px;border-radius: 4px;}
/* 地址修改 */
.adrAlter {text-align: left;padding: 4% 5%;font-weight: 300;}
.adrAlter h3 {color: #555;font-size: 15px;line-height: 24px;margin-bottom: 5%;font-weight: 300;}
.adrAlter h3 i {margin: 0 2%;font-size: 14px;}
.adrAlter ul {padding: 2% 0% 10% 0%;}
.adrAlter li {margin-bottom: 6%;}
.adrAlter li input {line-height: 20px;width: 90%;padding: 8px 4%;border: 1px solid #f4f4f4;border-radius: 2px;font-size: 13px;}
#areaLayer ul {padding: 2% 4%;}
#areaLayer ul li {padding: 0;margin: 0;}
.styled-select {overflow: hidden;background: url(../images/new_arrow.png) no-repeat 98% #f9fafa;background-size: 15px;}
/*选择地区弹层*/
.express-area-box {position: fixed;left: 0;width: 100%;bottom: -100%;z-index: 15;background-color: #fff;color: #4d525d;z-index: 999;}
.express-area-box header {position: relative;border-top: 1px solid #f4f4f4;border-bottom: 1px solid #f4f4f4;}
.express-area-box header h3 {text-align: center;font-size: 16px;line-height: 40px;margin: 0;}
.express-area-box header .back,.express-area-box header .close {position: absolute;top: 0;width: 1.675rem;height: 2.25rem;}
.express-area-box header .back {display: none;left: 0;background-size: .45rem .75rem;}
.express-area-box header .close {right: 0;background-size: .675rem .675rem;}
.express-area-box article {height: 300px;overflow-y: scroll;}
.area-list li {font-size: 14px;line-height: 2.5rem;}
.mask {display: none;position: fixed;top: 0;left: 0;z-index: 12;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}

/*蜻蜓FM*/
.midBg {position: relative;background: url(../images/midBg.jpg) no-repeat;background-size: 100%;padding: 0 8%;padding-bottom: 30%;padding-top: 46%;} 
.midBgTop{ }
.midBg h1 {position: relative;display: inline-block;font-size: 3vw;font-weight: 300;color: #a9a9a9;}
.midBg h1:before {display: inline-block;content: '';position: absolute;top: 1vw;left: -3.8vw;width: 1.6vw;height: 1.6vw;border-radius: 50%;background-color: #a9a9a9;}
.midBg h1:after {display: inline-block;content: '';position: absolute;top: 1vw;right: -3.8vw;width: 1.6vw;height: 1.6vw;border-radius: 50%;background-color: #a9a9a9;}
.midBg .info {display: flex;display: -webkit-flex;align-items: center;-webkit-align-items: center;margin-top: 4vw;text-align: left;}
.midBg .info_L {flex: 1;-webkit-flex: 1;margin-left: 4vw;overflow: hidden;}
.midBg .info_L span {display: block;font-size: 4.5vw;font-weight: 300;color: #eb3331;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.midBg .info_L s {display: block;margin-top: 1vw;font-size: 3vw;font-weight: 300;color: #bcbbbb;}
.midBg .info_L em{display: flex;display:-webkit-flex;align-items: center;-webkit-align-items: center;font-size: 4vw;color: #6876ff;}
.midBg .info_L em b{font-size: 7vw;vertical-align: middle;margin-bottom: 2.5vw;margin-right: 1vw;}
.midBg .info_R{display: flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;width: 18vw;height: 18vw;margin-right: 6vw;text-align: center;border-radius: 1vw;color: #fff;background-color: #eb3331;vertical-align: middle;}
.midBg .info_R i{display: block;width: 10vw;font-size: 4.5vw;line-height: 5.5vw;font-weight: 300;}
.btmBg{position: relative;margin-top: -28%;margin-left: -14%;width: 100%;}


/*生态权益*/
.iconList1 .nav{display: flex;display: -webkit-flex;justify-content: space-between;-webkit-justify-content: space-between;padding: 3vw 1.5vw 4vw 1.5vw;background: #FFFFFF;overflow: auto;width: 97vw;}
.iconList1 .nav img{width: 10vw;height: 10vw;margin: 1.5vw auto;border-radius: 50%;border: 1px solid #ccc;}
.iconList1 .nav li {min-width: 16.3vw;}
.iconList1 .nav li span{font-size: 2.66666vw;color: #343131;        }
.iconList1 .nav li.activeClass span{color: #b09150;}
.iconList1 .nav li.activeClass img{border: 1px solid #b09150;background:#b09150;}
.stqList .stqListBox{padding: 0 3vw;background-color: #f4f4f4;}
.stqList .stqListBox i{display: block;width: 96%;margin: 6% auto;position: relative;}
.stqList .stqListBox img{filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));} 
.stqList .stqListBox em {position: absolute;top: 10vw;color: #fff;left: 0;width: 90%;margin: 0 5%;white-space: nowrap;overflow: hidden;font-size: 4.5vw;text-align: center;font-weight: 300;}
.stqList .stqListBox span  {position: absolute;width: 50%;left: 0;bottom: 7.5vw;margin: 0 25%;height: 9vw;line-height: 9vw;background: #fff;color: #333;font-size: 4.5vw;font-weight: bold;border-radius: 1.5vw;}
.stqList .stqListBox q {position: absolute;width: 100%;left: 0;bottom: 1.5vw;font-size: 3vw;color: #fff;font-weight: 300;} 

.stqListBox ul li:nth-child(1) span{color: #016042;}
.stqListBox ul li:nth-child(2) span{color: #e27904;}
.stqListBox ul li:nth-child(3) span{color: #1e1377;}
.stqListBox ul li:nth-child(4) span{color: #de5c03;}
.stqListBox ul li:nth-child(5) span{color: #cb302b;}
.stqListBox ul li:nth-child(6) span{color: #496a25;}


/* loading */
.spinner{margin: 8% auto;width:2.5rem;height:2.5rem;position:relative;}
.container1>div,.container2>div,.container3>div{width:.7rem;height:.6rem;background-color: #FF9800;border-radius:100%;position:absolute;-webkit-animation:bouncedelay 1.2s infinite ease-in-out;animation:bouncedelay 1.2s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.loadingLate{color: #FF9800;font-size: 14px;margin-bottom: 2%;font-weight: 300;}
.spinner .spinner-container{position:absolute;width:100%;height:100%}
.container2{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.container3{-webkit-transform:rotateZ(90deg);transform:rotateZ(90deg)}
.circle1{top:0;left:0}.circle2{top:0;right:0}.circle3{right:0;bottom:0}
.circle4{left:0;bottom:0}.container2 .circle1{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.container3 .circle1{-webkit-animation-delay:-1.0s;animation-delay:-1.0s}
.container1 .circle2{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}
.container2 .circle2{-webkit-animation-delay:-0.8s;animation-delay:-0.8s}
.container3 .circle2{-webkit-animation-delay:-0.7s;animation-delay:-0.7s}
.container1 .circle3{-webkit-animation-delay:-0.6s;animation-delay:-0.6s}
.container2 .circle3{-webkit-animation-delay:-0.5s;animation-delay:-0.5s}
.container3 .circle3{-webkit-animation-delay:-0.4s;animation-delay:-0.4s}
.container1 .circle4{-webkit-animation-delay:-0.3s;animation-delay:-0.3s}
.container2 .circle4{-webkit-animation-delay:-0.2s;animation-delay:-0.2s}
.container3 .circle4{-webkit-animation-delay:-0.1s;animation-delay:-0.1s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}

a[title="站长统计"] {
    display: none;
}