@charset "utf-8";
/* CSS Document */
@import url("reset.css");
body {
	font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
	font-size: 14px; color: #666; background:#fff; background-size: 100%;text-align: center;
}
@media screen and (min-width:769px){  body{ width: 40%; margin:0 30%;} } 
img { width: 100%; display: block;}
.fl { float: left;} .fr{ float: right;} .cB{clear:both;} .dn {display: none;}

 